@model ShungoExpress.Web.Data.Entities.User

@{
  ViewData["Title"] = "Details";
}
<link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<h1>Detalles</h1>

<div>
  <h4>Cliente</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Address)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.AddressUrl)
    </dt>
    <dd class="col-sm-10">
      @{
        var link = Model.AddressUrl;
        if (link != null)
        {
          if (!link.StartsWith("https://"))
          {
            link = "https://" + link;
          }
        }
      }
      <a href="@link" target="_blank">Dirección</a>
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i></a> |
  <a asp-action="Index"  class="btn btn-success"><i class="fa fa-chevron-left"></i> Atrás</a>
</div>