@model IEnumerable<ShungoExpress.Web.Data.Entities.User>

@{
  ViewData["Title"] = "Index";
}

<h1>Clientes</h1>
<p>
  <a asp-action="Create" asp-route-id="" class="btn btn-primary">Crear Nuevo</a>
</p>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover table-responsive table-striped" id="ClientsTable">
          <thead class="thead-light">
            <tr>
              <th>
                @Html.DisplayNameFor(model => model.FirstName)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.LastName)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.Address)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.AddressUrl)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model)
            {
              <tr>
                <td>
                  @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                  @{
                    var link = @item.AddressUrl;
                    if (link != null)
                    {
                      if (!link.StartsWith("https://"))
                      {
                        link = "https://" + link;
                      }
                    }
                  }
                  <a href="@link" target="_blank">Dirección</a>
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Editar</a>
                  <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning">Detalles</a>
                  @if (User.IsInRole("Admin"))
                  {
                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Eliminar</button>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Quieres borrar este cliente?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" id="btnYesDelete">Eliminar</button>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

  <script type="text/javascript">
    $(document).ready(function () {
      // Delete item
      var itemToDelete;

      $('.deleteItem').click((e) => {
        itemToDelete = e.currentTarget.dataset.id;
      });

      debugger;

      $("#btnYesDelete").click(function () {
        window.location.href = '/Clients/Delete/' + itemToDelete;
      });
    });
  </script>
}