@model IEnumerable<ShungoExpress.Web.Data.Entities.Order>

@{
  ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
<br />

<p>
  <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Crear Nuevo</a>
</p>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Pedidos</h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-responsive table-striped" id="OrdersTable">
          <thead class="thead-light">
            <tr>
              <th>
                @Html.DisplayNameFor(model => model.OrderDate)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.Description)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.Client.Address)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.Motorized.DisplayName)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.Cost)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model)
            {
              <tr>
                <td>
                  @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Client.Address)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Motorized.DisplayName)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>
                  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-edit"></i></a> |
                  <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning">Detalles</a> |
                  @if (!item.DeliveryDate.HasValue)
                  {
                    <a asp-action="Delivered" asp-route-id="@item.Id" class="btn btn-primary">Entregado</a>
                  }
                  |
                  @if (User.IsInRole("Admin"))
                  {
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> </a>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div>
  @{
    if (User.IsInRole("Admin"))
    {
      <a asp-action="ShowChart" asp-route-perWeek="@true" class="btn btn-primary"><i class="fas fa-chart-line"></i> Semana</a>
      <a asp-action="ShowChart" asp-route-perWeek="@false" class="btn btn-primary"><i class="fas fa-chart-line"></i> Año</a>
    }
  }
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

  <script src="~/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#OrdersTable').DataTable();
    });
  </script>
}