@model ShungoExpress.Web.Data.Entities.Motorized

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que quiere eliminar esto?</h3>
<div>
    <h4>Motorizado</h4>
    <hr />
    <dl class="row">
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FirstName)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FirstName)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LastName)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LastName)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DisplayName)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DisplayName)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Plate)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Plate)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IdNumber)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.IdNumber)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Available)
      </dt>
      <dd class="col-sm-10">
        @if (Model.Available)
        {
          @Html.Encode("Si")
        }
        else
        {
          @Html.Encode("No")
        }
      </dd>
    </dl>
    
    <form asp-action="Delete">
      <input type="hidden" asp-for="Id" />
      <input type="submit" value="Eliminar" class="btn btn-danger" /> |
      <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i>Atrás</a>
    </form>
</div>
