@model IEnumerable<ShungoExpress.Web.Data.Entities.Motorized>

@{
  ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
<br />

<p>
  <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Crear Nuevo</a>
</p>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Motorizados</h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-responsive table-striped" id="MotorizedsTable">
          <thead class="thead-light">
          <tr>
            <th>
              @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Plate)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.IdNumber)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          @foreach (var item in Model)
          {
            <tr>
              <td>
                @Html.DisplayFor(modelItem => item.FirstName)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Plate)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.IdNumber)
              </td>
              <td>
                @if (item.Available)
                {
                  @Html.Encode("Si")
                }
                else
                {
                  @Html.Encode("No")
                }
              </td>
              <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning">Detalles</a>
                @if (User.IsInRole("Admin"))
                {
                  <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                }
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

  <script src="~/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#MotorizedsTable').DataTable();
    });
  </script>
}